* text=auto
# Unity 生成文件（不需要提交）
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
.DS_Store
Thumbs.db

# VS / Rider 生成文件
.vs/
.idea
*.csproj
*.unityproj
*.sln